.App {
  text-align: center;
}
.App h1 {
  color: white;
}
.dg-weather {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: auto auto 100px;
  margin: 0 auto;
  text-align: center;
  background-color: #0090C1;
  width: 60vw;
  height: 80vh;
  border-radius: 2%;
}
.zip__wrapper {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 3;
  grid-row-end: 4;
}
.zip__button {
  background-color: #046E8F; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  padding-top: 17px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: 'Life Savers', cursive;
  font-size: 16px;
}
.zip__input {
  padding: 8px 32px;
  padding-bottom: 12px;
  font-weight: bolder;
  font-family: 'Life Savers', cursive;
  text-decoration: none;
  display: inline-block;
  font-size: 24px;
}
